* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f2f2f2;
    font-family: sans-serif;
}

header {
    padding-top: 50px;
    padding-bottom: 10px;
    width: 702px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

header h1 {
    color: navy;
}

header h1 i {
    color: royalblue;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* elimino bordo sui button quando hanno il focus */
button:focus {
    outline: none;
}

.nav-button {
    cursor: pointer;
    background-color: navy;
    color: white;
    font-size: 18px;
    padding: 10px 5px;
    width: 150px;
    border-style: none;
    border-radius: 5px;
    margin-left: 10px;
}

.nav-button-hover {
    background-color: royalblue;
}

button:disabled {
    cursor: not-allowed;
    background-color: gray;
    color: darkgray;
}

#weekdays-bar {
    display: flex;
    /* justify-content: flex-start; */
    width: 700px;
    height: 40px;
    font-size: 18px;
    background-color: royalblue;
    color: white;
    padding: 10px 5px;
    border-radius: 5px 5px 0 0;
}

#weekdays-bar span {
    display: inline-block;
    text-align: center;
    width: 100px;
}

#grid-container {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 700px;
    height: 532px;
    font-size: 14px;
}

.cell {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid royalblue;
    padding: 4px;
    flex-shrink: 0;
    width: 100px;
    height: 70px;
    background-color: ghostwhite;
}

.holiday {
    color: darkred;
    font-weight: bold;
    background-color: mistyrose;
}

.holiday-name {
    text-align: right;
    color: red;
    font-size: 14px;
    font-style: italic;
}

.bgc-white {
    background-color: white;
}