* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f2f2f2;
    font-family: sans-serif;
}

header {
    padding-top: 50px;
    padding-bottom: 10px;
    width: 702px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    /* flex-direction: column; */
    /* align-items: center; */
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* elimino bordo sui button quando hanno il focus */
button:focus {
    outline: none;
}

.nav-button {
    cursor: pointer;
    background-color: red;
    color: white;
    font-size: 18px;
    padding: 10px 5px;
    width: 150px;
    border-style: none;
}

button:disabled {
    cursor: not-allowed;
    background-color: gray;
    color: darkgray;
}

#grid-container {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 702px;
    height: 532px;
    font-size: 14px;
}

.cell {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid darkgray;
    padding: 4px;
    flex-shrink: 0;
    width: 100px;
    height: 70px;
    background-color: white;
}

.holiday {
    color: red;
    font-weight: bold;
    background-color: #f0dbdb;
}

.holiday-name {
    text-align: right;
    color: #750202;
    /* align-self: flex-end; */
    font-size: 14px;
    font-style: italic;
}