* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f2f2f2;
    font-family: sans-serif;
}

header {
    padding-top: 50px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* elimino bordo sui button quando hanno il focus */
button:focus {
    outline: none;
}

.nav-button {
    cursor: pointer;
    background-color: red;
    color: white;
    font-size: 18px;
    padding: 10px 5px;
    width: 150px;
    border-style: none;
}

.holiday {
    color: red;
    font-weight: bold;
}

.disabled {
    cursor: default;
    background-color: gray;
    color: darkgray;
}